.bird {
	z-index: 99999;
	position: fixed;
}

#loading {
	position: fixed;
	z-index: 99998;
	background: url("../img/load-background.png");
	width: 100vw;
	height: 100vh;
	transition: opacity 0.5s ease;
}

.move2 {
	transform: translate(-150vw, 0);
}

.move3 {
	transform: translate(-150vw, 100vh);
}

.move {
	transform: translate(-250vw, 0);
}

html, body {
	overflow-x: hidden;
}