{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <!--p>
      Hello @{{ g.user.screen_name }}!  Wanna tweet something?
    </p>
    <form action="{{ url_for('tweet') }}"  method=post>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="tweet" id="tweet-input">
        <label class="mdl-textfield__label" for="tweet-input">Enter your message...</label>
      </div>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        Tweet!
      </button>
    </form-->
    {% if tweets %}
    <h3>Your Timeline</h3>
    <ul>
    {% for tweet in tweets %}
      <li>{% if tweet.troll %}
            (TROLL)
          {% endif %}
          <a href="http://twitter.com/{{ tweet.user.screen_name
        }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
    {% endfor %}
    </ul>

    <button onclick="location.href+='block';" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Block Out the Haters!
    </button>

    <h4>Your Haters:</h4>
    <ul>
        <li>The nonbelievers</li>
        {% for hater in blocks[g.user['user_id']] %}
        <li>{{ hater }}</li>
        {% endfor %}
    </ul>

    {% endif %}
  {% else %}
    <h1>Welcome to ConTroll</h1>
    <p>
      With ConTroll, blocking offensive Twitter users has never been easier! Using Microsoft Azure Machine Learning Sentiment Analysis (MAMLSA, or as I prefer, Madame Lisa), ConTroll is able to analyze every tweet in which you are mentioned and determine whether or not you have been the target of an offensive message. ConTroll compiles a list of all authors of those offensive tweets, and with one click you can block them instantly! What are you waiting for? Make Twitter Friendly Again!
    </p>
    <a href="{{ url_for('twitter_auth.login') }}">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Sign In
      </button>
    </a>
  {% endif %}
{% endblock %}